/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-4-14, 11:29:29
    Author     : chenjiawei
*/
#importBt,#favoriteBt{
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: #334db3;
    -fx-border-width: 2;
}
#importBt,#favoriteBt:hover {
    
}
.button {
    -fx-background-radius: 15;
    -fx-border-color: #b3ccff;
    -fx-border-width: 0;
    -fx-border-radius: 15;
    -fx-padding: 4 7 4 7;
    -fx-font: 16px cursive;
    -fx-background-color: #b3ccff;
}

.button:hover {
    -fx-background-radius: 15;
    -fx-border-color: #334db3;
    -fx-border-width: 0;
    -fx-border-radius: 15;
    -fx-padding: 4 7 4 7;
    -fx-background-color: #8099ff;
}

.separator .line {
    -fx-border-width: 1;
    -fx-border-color: #334db3;
}

.scroll-bar:vertical .thumb {
    -fx-background-color:
        #334db3,
        linear-gradient(to right, derive( #334db3,95%), derive( #334db3,10%)),
        linear-gradient(to right, derive( #334db3,38%), derive(#334db3,-16%));
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0.5em; /* makes sure this remains circular 引用 */
}

.createdListBt {
    -fx-background-radius: 0;
    -fx-border-color: #334db3;
    -fx-border-width: 0;
    -fx-border-radius: 5;
    -fx-padding: 4 7 4 7;
    -fx-background-color: #b3ccff
}

.createdListBt:hover{
    -fx-background-radius: 5;
    -fx-border-color: #334db3;
    -fx-border-width: 0;
    -fx-border-radius: 5;
    -fx-padding: 4 7 4 7;
    -fx-background-color: #8099ff;
}

.scroll-pane {
    -fx-background-color: #b3ccff;
    -fx-border-color: #b3ccff;
}

.titled-pane {
    -fx-background-color: #b3ccff;
}

#currentClickedButton {
    -fx-background-radius: 5;
    -fx-border-color: #334db3;
    -fx-border-width: 0;
    -fx-border-radius: 5;
    -fx-padding: 4 7 4 7;
    -fx-background-color: #8099ff;
}